<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunitadwipj.antibiotik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Homepagi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homesiang" />
        <activity android:name=".Homesore" />
        <activity android:name=".Homemalam" />
        <activity android:name=".ListTips" />
	<activity android:name=".DetailTips"/>
        <activity android:name=".status" />
        <activity android:name=".alarm" />
        <activity android:name=".lemari" />
        <activity android:name=".dokterku" />
        <activity android:name=".darurat" />
        <activity android:name=".bantuan" />
        <activity android:name=".setalarm"></activity>

        <receiver android:name=".alarmreceiver"
            android:process=":remote"/>
    </application>

</manifest>